@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
body {
    text-align: center;
    background: #FFFAF0;
    font-family: 'Rubik', sans-serif;
    padding: 0 20%;
}
h2 {
    font-size: 32px;
}
p {
    font-size: 22px;
}